{% load static %}
<!DOCTYPE html>
<html lang="fa">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="todo" content="todo">
        <meta name="yasinalipour" content="todo">

        <title>{% block title %}{% endblock %}</title>

        <!-- Jalali date -->
        <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">

        <!-- Custom fonts for this template-->
        <link href="{% static 'account/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'account/css/sb-admin-2.css' %}" rel="stylesheet">
        <link href="{% static 'account/css/rtl.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">

        <link rel="shortcut icon" type="image/jpg" href="{% static 'todo/img/favicon.ico' %}"/>

    </head>
    <body id="page-top">
        {% block content %}{% endblock %}

        <!-- Scroll to Top Button-->
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            <i class="fas fa-angle-up"></i>
        </button> 

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'account/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'account/vendor/jquery/jquery-ui.min.js' %}"></script>
        <script src="{% static 'account/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        
        <!-- Custom scripts for all pages-->
        <script src="{% static 'account/js/sb-admin-2.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'account/vendor/jquery-easing/jquery.easing.min.js' %}"></script>



        <!-- Jalali date -->
        <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
                });
            }, false);
            })();

            //Get the button:
            mybutton = document.getElementById("myBtn");

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            } 
        </script>
    </body>
</html>