{% extends 'base.html' %}
{% load static %}

{% block title %}صفحه موردنظر یافت نشد{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid mt-5">

        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">صفحه موردنظر یافت نشد.</p>
            <p class="text-gray-500 mb-0">صفحه ای که به دنبال آن بودید یافت نشد...</p>
            <a href="{% url 'todo:dashboard' %}">&larr; برگشتن به داشبورد </a>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}