{% load static %}
<nav class="navbar navbar-expand navbar-light text-dark bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav mr-auto sfont">
        <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="{% url 'todo:home' %}">صفحه اصلی</a>
        </li>
        
        <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="{% url 'logout' %}">خروج</a>
        </li>
        <div class="topbar-divider d-none d-md-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="{% if not user.image %} {% static 'account/img/user_img.jpg' %} {% else %} {{ user.image.url }} {% endif %}">
                <span class="mr-2 d-inline text-gray-600 small IranBold">{% if request.user.get_full_name %} {{ request.user.get_full_name }} {% else %} <span class="text-uppercase">{{ request.user }}</span> {% endif %}</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="text-right dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'todo:dashboard' %}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    داشبورد
                </a>
                <a class="dropdown-item" href="{% url 'account:profile' %}">
                    <i class="fas fa-tachometer-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    پروفایل
                </a>
                <a class="dropdown-item" href="{% url 'password_change' %}">
                    <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                    تغییر رمز عبور
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-block d-md-none" href="{% url 'todo:home' %}">
                    <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                    صفحه اصلی
                </a>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    خروج
                </a>
            </div>
        </li>
        
    </ul>

</nav>